/* Hide PayPal and Stripe default payment addon */
a[data-name="PayPal Standard addon"], 
a[data-name="Stripe addon"],
a[data-name="Authorize.Net addon"] {
  visibility: hidden;
  display: none;
}
/* In case the addon is installed — leave it visible for now
.wpforms-panel-sidebar-section-paypal_standard,
.wpforms-panel-sidebar-section-stripe,
.wpforms-panel-sidebar-section-authorize_net {
  visibility: hidden;
  display: none;
}
*/